@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap");
main > section > fieldset input, main > section > fieldset, article code, body, .button, main > section > hr, article hr, main > hr, main > section > fieldset .version_input hr, body > header hr {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

main > section > fieldset .array > .button, main > section > fieldset .array, main > section > fieldset .version_input, main > section > fieldset legend, main section > header, body > header, .button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main > section > fieldset, main > section, article, main section > header > div, main, body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main > section > fieldset .version_input hr, body > header hr {
  width: 0;
  height: 0;
  margin: auto;
}

main > section > hr, article hr, main > hr {
  width: 100%;
  height: 1px;
  background-color: rgb(var(--foreground)/0.25);
}

main > section > fieldset .output span, main > section > fieldset input, article code {
  font-family: "JetBrains Mono", monospace;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --background: 28 25 28;
  --background-hl: 38 35 38;
  --foreground: 255 255 255;
  --yellow: 221 188 112;
  --pink: 237 10 102;
  --blue: 121 147 221;
  --green: 119 185 117;
}

.button {
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 200ms;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(var(--background)/0.08);
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  height: calc(100vh - 3rem);
  overflow-y: auto;
  margin-top: 3rem;
}

body > header {
  background-color: #4db764;
  color: rgb(var(--background));
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  height: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.32);
}
body > header hr.sep {
  min-width: 3px;
  height: 2rem;
  background-color: rgb(var(--background)/0.08);
  margin: 0;
}

main {
  width: 40rem;
  max-width: calc(100vw - 2rem);
  margin: 2rem auto;
  gap: 1rem;
}
main section > header {
  gap: 0.5rem;
}
main section > header i {
  font-size: 2rem;
}
main section > header > div span {
  font-size: 0.75rem;
  opacity: 0.5;
}
main > hr {
  margin: 1rem 0;
  min-height: 2px;
  background-color: rgb(var(--foreground)/0.08);
}

h1 > i, h2 > i, h3 > i, h4 > i {
  margin: 0 0.5rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

h4 {
  margin: -1rem 0 0 0;
  font-size: 0.75rem;
  font-weight: normal;
}

article {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(var(--background-hl));
  gap: 0.5rem;
  margin-bottom: 2rem;
}
article a {
  color: #45a8ff;
}
article p {
  margin: 0;
}
article code {
  padding: 0.125rem 0.33rem;
  background-color: rgb(var(--foreground)/0.08);
  border-radius: 0.5rem;
}
article ul {
  margin: 0;
}
article hr {
  margin: 1rem 0;
  min-height: 2px;
  background-color: rgb(var(--foreground)/0.08);
}

main > section {
  gap: 0.5rem;
}
main > section a {
  color: #45a8ff;
}
main > section > hr {
  margin: 0.25rem 0;
  min-height: 2px;
  background-color: transparent;
}
main > section > fieldset {
  background-color: rgb(var(--background-hl));
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 1rem;
  gap: 0.5rem;
  margin-top: -2rem;
}
main > section > fieldset:last-of-type {
  margin-bottom: 2rem;
}
main > section > fieldset.output_register {
  background-color: #4db764;
  color: rgb(var(--background));
}
main > section > fieldset.output_register a {
  color: #1069b7;
}
main > section > fieldset legend {
  gap: 0.5rem;
  padding-top: 3rem;
  margin-bottom: -1.5rem;
  font-weight: bold;
}
main > section > fieldset input {
  background-color: rgb(var(--background));
  color: #4db764;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}
main > section > fieldset input::-moz-placeholder {
  color: rgb(var(--foreground)/0.3);
}
main > section > fieldset input::placeholder {
  color: rgb(var(--foreground)/0.3);
}
main > section > fieldset input:focus {
  color: rgb(var(--foreground));
  border: 2px solid #4db764;
}
main > section > fieldset span {
  font-size: 0.75rem;
}
main > section > fieldset .version_input {
  gap: 0.25rem;
}
main > section > fieldset .version_input input {
  width: 1.5rem;
  text-align: center;
  padding: 0.25rem;
}
main > section > fieldset .version_input span {
  font-weight: bold;
}
main > section > fieldset .version_input hr {
  margin: 0 0.5rem;
}
main > section > fieldset .output {
  background-color: rgb(var(--background)/0.16);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  min-height: 2.5rem;
}
main > section > fieldset .output span {
  font-style: normal;
  font-size: 0.75rem;
  font-weight: bold;
  word-break: break-all;
}
main > section > fieldset .output .button {
  margin-left: auto;
  margin-right: -0.5rem;
}
main > section > fieldset .array {
  flex-wrap: wrap;
  gap: 0.5rem;
}
main > section > fieldset .array input {
  width: 8rem;
}
main > section > fieldset .array > .button {
  justify-content: center;
  height: 2rem;
  width: 2rem;
  padding: 0;
}
main > section > fieldset .array > .button:hover {
  background-color: rgb(var(--foreground)/0.16);
}
main > section > fieldset .array .removeButton {
  margin-left: -3rem;
  margin-right: 0.5rem;
}