@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import "common";

:root {
    --background: 28 25 28;
    --background-hl: 38 35 38;
    --foreground: 255 255 255;
    --yellow: 221 188 112;
    --pink: 237 10 102;
    --blue: 121 147 221;
    --green: 119 185 117;
}

.button {
    @extend %reset;
    @extend %rowC;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 200ms;
    cursor: pointer;

    &:hover {
        background-color: atheme(--background, 0.08);
    }
}

body {
    @extend %reset;
    @extend %colS;
    @extend %fontR;
    background-color: theme(--background);
    color: theme(--foreground);
    height: calc(100vh - 3rem);
    overflow-y: auto;
    margin-top: 3rem;
}

body > header {
    @extend %rowC;
    background-color: #4db764;
    color: theme(--background);
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    height: 2.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0.5rem 0 rgb(0 0 0 / 0.32);

    hr {
        @extend %space;

        &.sep {
            min-width: 3px;
            height: 2rem;
            background-color: atheme(--background, 0.08);
            margin: 0;
        }
    }
}

main {
    @extend %colS;
    width: 40rem;
    max-width: calc(100vw - 2rem);
    margin: 2rem auto;
    gap: 1rem;

    section > header {
        @extend %rowC;
        gap: 0.5rem;

        i {
            font-size: 2rem;
        }

        & > div {
            @extend %colS;

            span {
                font-size: 0.75rem;
                opacity: 0.5;
            }
        }
    }

    & > hr {
        @extend %line;
        margin: 1rem 0;
        min-height: 2px;
        background-color: atheme(--foreground, 0.08);
    }
}

h1, h2, h3, h4 {
    & > i {
        margin: 0 0.5rem;
    }
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1rem;
}

h4 {
    margin: -1rem 0 0 0;
    font-size: 0.75rem;
    font-weight: normal;
}

article {
    @extend %colS;
    padding: 1rem;
    border-radius: 1rem;
    background-color: theme(--background-hl);
    gap: 0.5rem;
    margin-bottom: 2rem;

    a {
        color: #45a8ff;
    }

    p {
        margin: 0;
    }

    code {
        @extend %reset;
        @extend %fontM;
        padding: 0.125rem 0.33rem;
        background-color: atheme(--foreground, 0.08);
        border-radius: 0.5rem;
    }

    ul {
        margin: 0;
    }

    hr {
        @extend %line;
        margin: 1rem 0;
        min-height: 2px;
        background-color: atheme(--foreground, 0.08);
    }
}


main > section {
    @extend %colS;
    gap: 0.5rem;

    a {
        color: #45a8ff;
    }

    & > hr {
        @extend %line;
        margin: 0.25rem 0;
        min-height: 2px;
        background-color: transparent;
    }

    & > fieldset {
        @extend %reset;
        @extend %colS;
        background-color: theme(--background-hl);
        padding: 2rem 1rem 1rem 1rem;
        border-radius: 1rem;
        gap: 0.5rem;
        margin-top: -2rem;
        
        &:last-of-type {
            margin-bottom: 2rem;
        }

        &.output_register {
            background-color: #4db764;
            color: theme(--background);

            a {
                color: #1069b7;
            }
        }

        legend {
            @extend %rowC;
            gap: 0.5rem;
            padding-top: 3rem;
            margin-bottom: -1.5rem;
            font-weight: bold;
        }

        input {
            @extend %reset;
            @extend %fontM;
            background-color: theme(--background);
            color: #4db764;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: 2px solid transparent;

            &::placeholder {
                color: atheme(--foreground, 0.3);
            }

            &:focus {
                color: theme(--foreground);
                border: 2px solid #4db764;
            }
        }

        span {
            font-size: 0.75rem;
        }

        .version_input {
            @extend %rowC;
            gap: 0.25rem;
            
            input {
                width: 1.5rem;
                text-align: center;
                padding: 0.25rem;
            }

            span {
                font-weight: bold;
            }

            hr {
                @extend %space;
                margin: 0 0.5rem;
            }
        }

        .output {
            background-color: atheme(--background, 0.16);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            min-height: 2.5rem;

            span {
                @extend %fontM;
                font-style: normal;
                font-size: 0.75rem;
                font-weight: bold;
                word-break: break-all;
            }

            .button {
                margin-left: auto;
                margin-right: -0.5rem;
            }
        }

        .array {
            @extend %rowC;
            flex-wrap: wrap;
            gap: 0.5rem;

            input {
                width: 8rem;
            }

            & > .button {
                @extend %rowC;
                justify-content: center;
                height: 2rem;
                width: 2rem;
                padding: 0;

                &:hover {
                    background-color: atheme(--foreground, 0.16);
                }
            }

            .removeButton {
                margin-left: -3rem;
                margin-right: 0.5rem;
            }
        }
    }
}
